.App {
  text-align: center;
  font-family: 'Parisienne', cursive;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
   background-color: #F0AD4E;
   color: #7F0A10;
   height: 180px;
   padding: 20px;
   min-width: 300px;
}

.App-header h1 {
  white-space: nowrap;
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: medium;
  font-family: 'Open Sans', sans-serif;
}

 /* Override bootstrap */
.App-intro .btn-toolbar {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  display: inline-block;
  min-width: 300px;
}

.button-toolbar-label {
  display: inline;
}

.btn-toolbar button.btn {
  float: none;
  border-radius: 30px;
}

.App .btn-default {
  border-radius: 30px;
  background-color: #FFF;
  border-color: #7F0A10;
  color: #000;
}

.App .btn-primary {
  border-radius: 30px;
  background-color: #7F0A10;
  border-color: #7F0A10;
  color: #FFF;
}

.generate-button {
  margin: 20px;
}

.generate-button button {
  font-size: medium;
}
