.Footer {
  font-size: small;
  margin-top: 40px;
}

.Footer a:link {
  color: #7F0A10;
}

.Footer a:visited {
  color: #7F0A10;
}

.Footer a:hover {
  color: #7F0A10;
}

.Footer a:focus {
  color: #7F0A10;
}
